 #table { 
    height: 98%; 
    padding: 10px; 
    background: 
    gray;
}

html, body  {
    height: 98%; 
    background:  gray;
}

img { height: 90%; 
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: block;
}

button {
	position:fixed;
	width:120px;
    height:120px;
    border-radius: 60px;
    min-width: 15vh;
    min-height: 15vh;
    font-size: 125%;
    font-weight: bold;
    color: black;
    border-width: 1vh;
    border-color: rgb(25, 27, 24);
	text-align:center;
    font-family: "Andale Mono", monospace;
}
.quad { width: 50%; height: 50%; float: left; }

.my-float{
	margin-top:22px;
}

#sol {
    bottom:40px;
    right:40px;
    background-color:greenyellow;
}

#help {
    bottom:40px;
    left:40px;
    background-color:gold;
}
