html, body { height: 100%; padding: 10px; background: gray;}

input {
    font-size: 500%;
    font-weight: bolder;
    color: black;
    border-width: 10px;
    border-color: rgb(25, 27, 24);
	text-align:center;
    font-family: "Andale Mono", monospace;

}

form {
    background-image: url('/deck/Minicard_10C.svg');
}
.square-butt {
    height: 9.5vh;
    width: 9.5vh;
    font-size: 125%;
    font-weight: bolder;
    color: black;
    border-width: 1vh;
    border-color: rgb(25, 27, 24);
	text-align:center;
    font-family: "Andale Mono", monospace;
}

.quad { width: 50%; height: 50%; float: left; }

.card { height: 90%; 
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: block;
}

#card-view {
    width: 100%;
    height: 89%;
}

#bottom-bar {
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    min-height: 11%;
    width: 100%;
    background: #333333;
    color: #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  #skip {
      background-color:rgb(201, 106, 106);
  }
  
  #undo {
    background-color:rgb(219, 210, 129);
    }

  .op-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }